
<div class="row">
  <div class="colum1 col-xs-6">
    <div class="logo">
      <h1>Ticket Punch Picture Here</h1>
        <!-- <img src="./TicketPunch_Identity_Assets/logo2.png" alt="" /> -->
    </div>
    <div class="copyBox">
      <h2>Copy Goes Here</h2>
        <!-- <a href="/">Home</a> -->
        <p>
          <a href="/users/new" class="btn btn-lg btn-primary center-block">Sign-Up</a>
        </p>
        <p>
          <a href="/users/log-in" class="btn btn-lg btn-primary center-block">Log-In</a>
        </p>
      </div>
  </div><!-- colum1 End -->

    <div class="colum2 col-xs-6">
      <div class="quoteBox">
        <div class="row">
        </div>
        <h2>
          "Funny Movie Quotes go here."
        </h2>
        <h3>-That Famous Guy, That One Movie</h3>
      </div>
    </div><!-- colum2 End -->
</div><!-- row end-->
