/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min.css
 *= require flat-ui.min.css
 */

// Brand Defined Colours
$asset-slate: #2C3E4F;
$asset-sky: #3E98D3;
$asset-dusk: #965DA5;
$asset-mistyforest: #2CB89A;
$asset-wenge: #231F20;

// scss imports
// not yet implemented

// your code
// not yet implemented

#container
{
 background-color:#ffffff;
}
.loader {
    text-align: center;
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    margin: 50px auto;
    background: #006cff;
    border-radius: 5px;
    -webkit-animation: loader 3s infinite;
    -webkit-transform: translateX(-400px);
}
.loader span:nth-of-type(1) {
    -webkit-animation-delay: 0.2s;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.4s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
}
.loader span:nth-of-type(4) {
    -webkit-animation-delay: 0.8s;
}
.loader span:nth-of-type(5) {
    -webkit-animation-delay: 1.0s;
}
@-webkit-keyframes loader {
  0% {
    opacity:0.5;
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: translateX(-500px);
  }
  40% {
    opacity:0.9;
    -webkit-animation-timing-function: linear;
    -webkit-transform: translateX(-100px);
  }
  50% {
    opacity:1;
    -webkit-animation-timing-function: linear;
    -webkit-transform: translateX(-25px);
  }
  60% {
    opacity:0.9;
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateX(25px);
  }
  100% {
    opacity:0.5;
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateX(500px);
  }
}
